<%- include('layout/loginHeader') %>

<div class="container">
    <div class="row">
     <div class="col-lg-6 mx-auto mt-4">
        <div class="card card-shadow">
            <div class="card-header text-center">
                <h4>Welcome to RMS</h4>
            </div>
            <div class="card-body text-center">
                <p>This is Result Management System</p>
                <br>
                <p>Please <a href="/login">Login</a> / <a href="/signUp">Register</a> to access the portal.</p>
            </div>
        </div>
     </div>
    </div>
</div>


<%- include('layout/footer') %>

